.card {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ellipse-background {
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 100px;
  background-color: #47a1ad;
  border-radius: 0 50% 50% 0;
  overflow: hidden;
  opacity: 0.1;
  z-index: -1;
}

.truncate {
  cursor: pointer;
}

strong {
  display: block;
  font-weight: bold;
}

.text-gray-500 {
  color: #888;
}

.cabRequest {
  background-image: url("../../../public/images/tw_illustration_106.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: fit-content;
  width: 100%;
}

// @media (max-width: 767px) {
//   .cabRequest {
//     padding: 0.5rem;
//   }
//   .card {
//     width: 300px;
//     margin: auto;
//   }
// }
.inner-container {
  background-color: rgba(0,0,0,0.3);
}

.pagination-button {
  background-color: rgba(243, 239, 239, 0.3);
}

