.card {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ellipse-background {
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 100px;
  background-color: #47a1ad;
  border-radius: 0 50% 50% 0;
  overflow: hidden;
  opacity: 0.1;
  z-index: -1;
}

.truncate {
  cursor: pointer;
}

strong {
  display: block;
  font-weight: bold;
}

.text-gray-500 {
  color: #888;
}

.cabRequest {
  background-image: url("../../../public/images/tw_illustration_106.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: fit-content;
  width: 100%;
}

// @media (max-width: 767px) {
//   .cabRequest {
//     padding: 0.5rem;
//   }
//   .card {
//     width: 300px;
//     margin: auto;
//   }
// }
.inner-container {
  background-color: rgba(0, 0, 0, 0.3);
}

// .skeleton {
//   position: relative;
//   max-width: 400px;
//   z-index: 99;
//   border-radius: 5px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   padding: 20px;
//   overflow-wrap: break-word;
//   background-color:#F3F3F3;
// }
// .skeleton-image{
//   margin-bottom: 1rem;
//   width: 100%;
//   aspect-ratio: 4/3;
//   object-fit: cover;
//   border: .25rem;
// }

// .effect {
//   position: relative;
// }
// .effect::before{
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   background: linear-gradient(90deg,#eee,#f9f9f9,#eee);

// }

// .skeleton.loading {
//   height: 300px;
//   width: 400px;
// }

// .loading {
//   position: relative;
//   background-color: #F3F3F3;
// }

// /* The moving element */
// .loading::after {
//   z-index: 99;
//   border-radius: 5px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   padding: 20px;
//   overflow-wrap: break-word;
//   display: block;
//   overflow: hidden;

//   content: "";
//   position: relative;
//   width: 300px;
//   height: 400px;
//   transform: translateX(-100%);
//   background: -webkit-gradient(linear, left top,
//               right top, from(transparent),
//               color-stop(rgba(255, 255, 255, 0.2)),
//               to(transparent));

//   background: linear-gradient(90deg, transparent,
//           rgba(255, 255, 255, 0.2), transparent);

//   /* Adding animation */
//   animation: loading 0.8s infinite;
// }

// /* Loading Animation */
// @keyframes loading {
//   100% {
//       transform: translateX(50%);
//   }
// }

.cards {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.cover {
  background: #808080;
  border-radius: 5px;
  height: 300px;
  width: 300px;
  margin-left: 290px;
}

.cover,
.square {
  z-index: 99;
  transform: translateX(-100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  background-size: 200%;
  background-position: 100% 0;
  animation: waves 0.8s linear infinite;
}

@keyframes waves {
  100% {
    background-position: -100% 0;
  }
}

// z-index: 99;
//   background-image: linear-gradient(120deg,#808080 50%,#f3f3f3 60%,#808080 61%,#808080 70%);
//   background-size: 200%;
//   background-position: 100% 0;
//   animation: waves 2s linear infinite;
