body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-route-banner{
  background-image: url(assets/add-route-banner1.jpg);
  object-fit: contain;
  background-size:100% 100%;
}

.map-banner{
  background-image: url(assets/map.jpg);
  object-fit: fill;
  background-size:200% 350%;
}
